
{% extends 'core/base.html' %}

{% load static %}

{% block title %}Gatos{% endblock %}

{% block content %}
    <!--encabezado con reloj + botones--> 
    <div class="container" style="border-bottom: solid black 3px;">
        <section >
            <div class="row">
                <div class="col" style="background-color: #7c826e;">
                    <div class="col">
                        <div id="clockdate">
                            <div class="clockdate-wrapper">
                            <div id="clock"></div>
                            <div id="date"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="text-align: right;">
                        <button style="border-color: rgb(245, 245, 219) ;" class="btn btn-dark" type="button" onclick="apagarLuzGato()">Modo Obscuro</button> 
                        <button style="border-color: #343a40; background-color: rgb(245, 245, 219); color: #343a40;" class="btn btn-dark" type="button" onclick="encenderLuzGato()">Modo Claro</button> 
                    </div>
                    
                </div>
                        
            </div>
        </section>
    </div>

    <!--Titulo pagina-->
    <div class="container mt-4 mb-4">
        <section id="titulopaginagato" style="background-color:#a1ab89;" >
            <hr>
            <h1 style="text-align: center;">Tips y cuidados esenciales sobre tu gato</h1>
            <hr>
        </section>
    </div>



    <!--Cards-->
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-md-4 mt-4 mb-4">
                <div class="card bg-dark text-white">
                    <img class="card-img-top" src="{% static 'core/img/gato_cuidado.jpg' %}" alt="imagen_gato_hombre" width="450px" height="350px">
                    <div class="card-body" style="background-color: #e7eea5; color: black;">
                        <h4 class="card-title">Como Cuidar a tu gato</h4>
                        <p class="card-text">Informacion general sobre como cuidar a tu gato</p>   
                    </div>
                    <div class="card-footer" style="text-align: center;">
                        <a href="#cuidadosgeneralesgato" style="background-color: rgb(171, 192, 199); color: black;" class="btn btn-secondary btn-lg btn-block">Ver más...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4 mb-4">
                <div class="card bg-dark text-white">
                    <img class="card-img-top" src="{% static 'core/img/gatoenojado.jpg' %}" alt="imagen_mascotas" width="450px" height="350px">   
                    <div class="card-body" style="background-color: #e7eea5; color: black;">
                        <h4 class="card-title">Educa a tu gato</h4>
                        <p class="card-text">Informacion general sobre como educar a tu gato</p>
                    </div>
                    <div class="card-footer" style="text-align: center;">
                        <a href="#educargato" style="background-color: rgb(171, 192, 199); color: black;" class="btn btn-secondary btn-lg btn-block" >Ver más...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4 mb-4">
                <div class="card bg-dark text-white">
                    <img class="card-img-top" src="{% static 'core/img/gatoatendido.jpg' %}" alt="imagen_gato_mujer" width="450px" height="350px">    
                    <div class="card-body" style="background-color: #e7eea5; color: black;">
                        <h4 class="card-title">Atenciones para tu gato</h4>
                        <p class="card-text">Tips para dar una correcta atencion y compañia a tu gato</p>
                    </div>
                    <div class="card-footer" style="text-align: center;">
                        <a href="#atenciongato" style="background-color: rgb(171, 192, 199); color: black;" class="btn btn-secondary btn-lg btn-block">Ver más...</a>
                    </div>
                </div>
            </div>
        </div>       
    </div>

    <div class="container">
        <img src="{% static 'core/img/linea.png' %}" alt="linea divisora" width="1100px" height="30px">
    </div>
    <br>
    <br>
    <!--Containers que guardan la estructura con la informacion correspondiente-->
    <div class="container" id="cuidadosgeneralesgato">
        <div  id="titulotextogato1" class="row justify-content-center" style="background-color: #a1ab89;">
            <h1>Cuidados generales para tu gato</h1>
        </div>
        <div class="row" style="text-align: left;">
            <div id="parrafogato1" style="border: 10px solid #a1ab89; background-color: #e1e6d4;">
                <p>Los gatos dependen de las personas para todo lo que necesitan – alimento, agua limpia, una caja de arena limpia, atención veterinaria y lo que es más importante, cariño y amor. Aquí te damos algunos consejos esenciales para mantener a tu amigo felino feliz y seguro.</p>
                <ul>
                    <li style="font-weight: bold;">Mantener su caja de arena siempre limpia:</li>
                    <br>
                        <ul>
                            <p>A nadie le gusta usar un baño sucio, es la razón por la cual es importante limpiar la caja de arena del gato al menos dos veces al día, de preferencia cada vez que tu gato utilice la caja, pero especialmente después de la hora de la comida. Si tienes más de un gato, una buena regla básica es la de tener una caja por gato. Evita cajas de arena perfumadas, ya que los gatos son sensibles a los olores. Coloca la caja de arena lejos del lugar donde come y en un lugar que sea tranquilo y donde se sienta «seguro».</p>
                        </ul>
                    <li style="font-weight: bold;">Mantenerlo bien alimentado:</li>
                    <br>
                        <ul>
                            <p>Suena obvio, pero te sorprenderías de lo fácil que es olvidarse de revisar el agua de tu gato, limpiar sus tazones y alimentarlo dos veces al día. Los gatos son quisquillosos (no beben agua sucia) pero si comen alimento seco para gato, necesitarán mucha agua para prevenir infecciones del tracto urinario. El alimento seco no debería ser el único alimento del gato, y no tiene que estar para nada en su dieta. Los enlatados o la comida casera son más aceptables y les ayudará a aumentar la humedad en la dieta para ayudar a prevenir infecciones del tracto urinario. Si se desea cortar el último eslabón con el matadero, es posible alimentar a los gatos con una dieta vegetariana, pero debe hacerse con sumo cuidado para asegurarse de que es nutritivamente equilibrada y que el gato está prosperando con ella.</p>
                        
                        </ul>
                    <li style="font-weight: bold;">Evita cortarle sus garras:</li>
                    <br>
                        <ul>
                            <p>Los gatos aman rascarse. Les ayuda a eliminar las garras rotas, estirar los músculos y marcar «territorio». Cortarle las garras NO es una buena manera de proteger tus muebles y – de hecho, es la más costosa y dolorosa: Cortarle las garras implica 10 amputaciones separadas, ya que se trata de cortar la última articulación de cada uno de los dedos del gato. Cortarle las garras puede hacer a los gatos inseguros, malhumorados y más propensos a morder porque no pueden usar sus garras para defenderse. También puede conducir a problemas con su caja de arena.</p>	
                        </ul>
                    <li style="font-weight: bold;">Manten al gato libre de pulgas y parásitos:</li>
                    <br>
                        <ul>
                            <p>Las pulgas no solo incomodan a los gatos, también pueden causar alergias en la piel e infestaciones con tenia (cuando los gatos ingieren pulgas al asearse). Los gatos que permanecen en interiores son menos propensos a las pulgas, pero aún así pueden contraerlas si accidentalmente las traes dentro de tus pantalones y zapatos. Los tratamientos mensuales anti-pulgas no son necesarios a menos que veas pulgas en tu gato, ni tampoco baños con peligrosos champús insecticidas (ya que el agua y el jabón las mata). Una alternativa de veneno no tóxica contra las pulgas es usar un peine para pulgas, que las captura en sus dientes finos y después las moja en un recipiente con agua con jabón o ponlas en un recipiente en el congelador.</p>
                        </ul>
                </ul>
                <hr>
                <a href="#referencias">Referencias...</a>
            </div>
            
        </div>        
    </div>
    <br>
    <div class="container">
        <img src="{% static 'core/img/linea.png' %}" alt="linea divisora" width="1100px" height="30px">
    </div>
    <br>
    <div class="container" id="educargato">
        <div id="titulotextogato2" class="row justify-content-center" style="background-color: #a1ab89;">
            <h1>Como educar a tu gato</h1>
        </div>
        <div class="row" style="text-align: left;">
            <div id="parrafogato2" style="border: 10px solid #a1ab89; background-color: #e1e6d4;">
                <p>  Antes de comenzar a educar a un gato, debes tener muy presente que un gato no es un perro, es un error común en personas que han tenido antes perro y nunca han tenido un gato. Así que olvida intentar enseñarle a hacer trucos como: que te de la patita o te traiga la pelota.</p>
                <ul>
                    <li style="font-weight: bold;">Enseñar a un gato a usar la caja de arena</li>´
                        <ul>
                            <li>Coloca a tu gato en el arenero y muéstrale con tu mano (no uses sus propias patitas para enseñarle) que puede escarbar en la arena. Seguramente se anime a escarbar y posteriormente a hacer sus necesidades.</li>
                            <li>Si tu gato hace sus necesidades fuera de la caja, recoge el excremento y ponlo en el arenero.</li>
                            <li>Premia a tu gato con caricias cuando utilice correctamente el arenero.</li>
                            <li>Si tu gato no entierra sus excrementos, usa un poco de arena y tápalo tú, aprenderá que debe hacer lo mismo.</li>
                            <br>
                        </ul>
                    <li style="font-weight: bold;">Enseña a tu gato a usar el rascador</li>
                        <br>
                        <ul>
                            <p>Compra el rascador que más te guste y rocíalo con catnip. El catnip es una hierba aromática que atrae a los gatos como por arte de magia, debido a esto se comercializa en forma de spray, ideal para rociar en sitios donde queremos que estén los gatitos, como por ejemplo en su rascador.</p>
                            <p>Si pillas a tu gato arañando algún mueble u otro lugar que no sea su rascador, cógelo inmediatamente y llévalo a su rascador, si actúas siempre así, pronto asociará que ese debe ser el lugar donde rascar.

                            </p>
                        </ul>
                    <li style="font-weight: bold;">Enseña a tu gato a no subirse a los sitos</li>
                        <br>
                        <ul>
                            <p>Si quieres que tu gato no se suba a la mesa de la cocina o a la cama, siempre que lo veas en esos sitios debes echarlo sin excepción, ya que, si un día lo dejas estar y al día siguiente lo echas, no entenderá que realmente no quieres que esté allí.</p>
                            <p>Para reforzar el entrenamiento puedes usar una botella de spray, rellenarla de agua y cada vez que se suba a donde no debe, pulverizar agua sobre él, de este modo asociará que el "castigo" lo recibe del agua y no de ti. Entenderá que no debe subirse a esos sitios si no quiere recibir un chorro de agua.</p>
                        </ul>
                </ul>
                <hr>
                <a href="#referencias">Referencias...</a>
            </div>
            
        </div>        
    </div>
    <br>
    <div class="container">
        <img src="{% static 'core/img/linea.png' %}" alt="linea divisora" width="1100px" height="30px">
    </div>
    <br>
    <div class="container" id="atenciongato">
        <div id="titulotextogato3" class="row justify-content-center" style="background-color: #a1ab89;">
            <h1>Atencion y compañia para gatos</h1>
        </div>
        <div class="row" style="text-align: left;">
            <div id="parrafogato3" style="border: 10px solid #a1ab89; background-color: #e1e6d4;">
                <p>Se suele pensar que los gatos son mas independientes y que no requieren de mucho atencion, pero esto está muy alejado de la realidadm, estos felinos sin una buena atencion y compañia pueden generar enfermedades como la depresion y el estres, por esto siempre es bueno acompañar a tu gato y atenderlo como corresponde</p>
                <ul>
                    <li style="font-weight: bold;">Es importante cepillar a tu gato y la mejor forma de hacerlo es la siguiente:</li>
                    <br>
                        <ol>
                            <li>Pon al gato en tu regazo y ofrécele el cepillo para que lo huela. En cuanto sepa que es seguro, se frotará la cara sobre él.</li>
                            <li>Comienza a cepillarlo con cuidado, comienza por su lomo y luego pasa por los costados de su cuerpo.</li>
                            <li>No escatimes elogios a tu gato por ser bueno y háblale con un tono de voz suave y tranquilizador.</li>
                            <li>Alterna el cepillado por caricias, como parte de su rutina de mimos. Puedes ofrecerle un snack como recompensa extra. Repite esto varias veces al día, incrementando poco a poco la duración de tiempo del cepillado.</li>
                            <li>Cuando tu gato esté familiarizado y se sienta cómodo con el aseo, puedes empezar a cepillar su panza, cola, orejas y otras zonas sensibles.</li>
                            <li>Sé muy amable y mantén las primeras sesiones de cuidados felinos por muy poco tiempo. No hay prisa, lo más importante es que se sientan relajados. Si detectas cualquier señal de hastío o agitación, aléjate de las zonas más sensibles y vuelve a cepillar su lomo.</li>
                        </ol>
                        <br>
                    <li style="font-weight: bold;">Revisiones semanales de tu gato:</li>
                    <br>
                        <ul>
                            <li>Comprueba que las orejas de tu gato estén limpias y huelan bien. Si están sucias, huelen mal, están rojas, irritadas, o si tu gato no para de sacudir la cabeza, contacta con tu veterinario. Los ácaros en los oídos son un problema común, sobre todo en gatos jóvenes.</li>
                            <li>Pasa las manos por todo el cuerpo de tu gato. Busca cualquier rasguño, bulto, golpe o granito que parezca molestarle. Si estás preocupado por algo, ponte en contacto con tu veterinario, comprueba sus ojos, su nariz, y contacta con tu veterinario si notas alguna secreción o enrojecimiento.</li>
                            <li>Echa un vistazo por debajo de la cola de tu gato. Su parte trasera debe estar limpia. Si está sucia o hay señales de gusanos o inflamación, visita a tu veterinario.</li>
                            <li>Por último, pasa la mano en contra de la dirección del pelaje, para erizar su pelo hacia arriba. Comprueba las raíces del pelo y de la piel en busca de parásitos o excrementos de pulgas (puntos o gránulos negros). Puedes prevenir una plaga con controles periódicos antipulgas pero, si es demasiado tarde, tu veterinario te aconsejará sobre qué tratamiento seguir.</li>
                        </ul>
                    <br>
                    <li style="font-weight: bold;">Como bañar a tu gato:</li>
                    <br>
                        <ul>
                            <li>Ten cuidado con la temperatura del agua. Si está muy caliente quemarás a tu gato, y si está muy fría le harás sentir molesto o incluso harás que enferme.</li>
                            <li>Trata a tu gato con cuidado durante el baño para que se sienta a gusto, tranquilízalo y mímalo mucho. Los snacks pueden resultar útiles y será mucho más fácil si hay una segunda persona que pueda ayudarte, ¡especialmente si intenta escapar!</li>
                            <li>Estate atento a las señales que emite tu gato cuando está estresado. A los gatos el baño les puede parecer aterrador, así que ten cuidado para no ser mordido o arañado. Si estás preocupado, habla con un peluquero especialista felino.</li>
                            <li>Asegúrate de que el champú que usas está específicamente indicado para gatos y comprueba si se tiene que dejar de utilizar durante un periodo de tiempo determinado (éste puede ser el caso de un champú medicinal). Ten cuidado de evitar que el champú entre en contacto con zonas delicadas, como ojos u orejas.</li>
                            <li>Si tu gato no es feliz mientras lo bañas, prueba a lavar únicamente las partes que realmente lo necesitan para reducir el tiempo en la bañera.</li>
                            <li>Enjuaga totalmente a tu gato para eliminar todo resto de jabón.</li>
                            <li>Después, sécalo con una toalla caliente y mantenlo calientito hasta que se seque. Evita el secador de pelo a menos que tu gato se haya acostumbrado a él desde una temprana edad, ya que puede asustarlo.</li>
                            <li>Si tienes más de un gato, la hora del baño puede acabar en una pelea, sobre todo si están estresados. Separa a tus gatos bañados hasta que se calmen, luego sécalos a todos con la misma toalla para distribuir sus olores.</li>
                        </ul>
                </ul>
                <a href="#referencias">Referencias...</a>
            </div>
            
        </div>        
    </div>
    <br>
    <div class="container">
        <img src="{% static 'core/img/linea.png' %}" alt="linea divisora" width="1100px" height="30px">
    </div>
    <br>
    <br>

    <section style="background-color: #a1ab89; text-align: center;" id="referencias">
        <h1>Referencias</h1>
        <hr>
        <a id="referenciagato1" style="color: black;" href="https://www.petalatino.com/blog/el-cuidado-de-los-gatos/" target="_blank">PETA Latino</a>
        <hr>
        <a id="referenciagato2" style="color: black;" href="https://www.elespanol.com/como/20190131/educar-gato-profesional/372214283_0.html" target="_blank">elespanol.com</a>
        <hr>
        <a id="referenciagato3" style="color: black;" href="https://www.purina-latam.com/mx/purina/nota/gatitos/como-cuidar-a-un-gato-y-como-asearlo"target="_blank">Purina Latam</a>
        <br>
        <br>
    </section>

{% endblock %}



