{% extends 'core/base.html' %}

{% load static %}

{% block title %}Perros{% endblock %}

{% block content %}
    <!--encabezado con reloj + botones-->
    <div class="container" style="border-bottom: solid black 3px;">
        <section >
            <div class="row">
                <div class="col" style="background-color: #7c826e;">
                    <div class="col">
                        <div id="clockdate">
                            <div class="clockdate-wrapper">
                                <div id="clock"></div>
                                <div id="date"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="text-align: right;">
                        <button style="border-color: rgb(245, 245, 219) ;" class="btn btn-dark" type="button" onclick="apagarLuzPerro()">Modo Obscuro</button> 
                        <button style="border-color: #343a40; background-color: rgb(245, 245, 219); color: #343a40;" class="btn btn-dark" type="button" onclick="encenderLuzPerro()">Modo Claro</button> 
                    </div>
                        
                </div>
                            
            </div>
        </section>
    </div>


    <!--Titulo pagina-->
    <div class="container mt-4 mb-4">
        <section id="titulopaginaperro" style="background-color:#a1ab89;" >
            <hr>
            <h1 style="text-align: center;">Tips y cuidados esenciales sobre tu perro</h1>
            <hr>
        </section>
    </div>


    <!--Cards-->
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-md-4 mt-4 mb-4">
                <div class="card bg-dark text-white">
                    <img class="card-img-top" src="{% static 'core/img/generales.jpg' %}" alt="imagen_perro_hombre" width="450px" height="350px">
                    <div class="card-body" style="background-color: #e7eea5; color: black;">
                        <h4 class="card-title">Cuidados generales</h4>
                        <p class="card-text">Informacion sobre como cuidar a tu perro</p>   
                    </div>
                    <div class="card-footer" style="text-align: center;">
                        <a href="#cuidadosgeneralesperro" style="background-color: rgb(171, 192, 199); color: black;" class="btn btn-secondary btn-lg btn-block">Ver más...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4 mb-4">
                <div class="card bg-dark text-white">
                    <img class="card-img-top" src="{% static 'core/img/Educacion.jpeg' %}" alt="imagen_mascotas" width="450px" height="350px">   
                    <div class="card-body" style="background-color: #e7eea5; color: black;">
                        <h4 class="card-title">Educación</h4>
                        <p class="card-text">Educación para tu mascota</p>
                    </div>
                    <div class="card-footer" style="text-align: center;">
                        <a href="#educarperro" style="background-color: rgb(171, 192, 199); color: black;" class="btn btn-secondary btn-lg btn-block" >Ver más...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4 mb-4">
                <div class="card bg-dark text-white">
                    <img class="card-img-top" src="{% static 'core/img/perro_cuidado.jpg' %}" alt="imagen_gato_mujer" width="450px" height="350px">    
                    <div class="card-body" style="background-color: #e7eea5; color: black;">
                        <h4 class="card-title">Compañia</h4>
                        <p class="card-text">Atencion y compañia para tu perro</p>
                    </div>
                    <div class="card-footer" style="text-align: center;">
                        <a href="#atencionperro" style="background-color: rgb(171, 192, 199); color: black;" class="btn btn-secondary btn-lg btn-block">Ver más...</a>
                    </div>
                </div>
            </div>
        </div>       
    </div>

    <div class="container">
        <img src="{% static 'core/img/linea.png' %}" alt="linea divisora" width="1100px" height="30px">
    </div>
    <br>
    <br>

    <!--Containers que guardan la estructura con la informacion correspondiente-->
    <div class="container" id="cuidadosgeneralesperro">
        <div id="titulotextoperro1" class="row justify-content-center" style="background-color: #a1ab89;">
            <h1>Cuidados generales para tu perro</h1>
        </div>
        <div class="row" style="text-align: left;">
            <div id="parrafoperro1" style="border: 10px solid #a1ab89; background-color: #e1e6d4;">
                <p>Es un hecho que una gran cantidad de personas posen un perro como compañero de vida, lo quieren y respentan como a un hijo
                    , pero eso no quiere decir que todos y todas esten preparados para la responsabilidad que conlleva tener un perro. Es por eso que te ayudaremos
                    dandote conesjos y tips para darle una buena vida a tu mascota.</p>

                <ul>
                    <br>
                    <li style="font-weight: bold;">El veterinario y sus medicamentos</li>
                    <br>
                    <ul>
                        <li>Las visitas deben ser rutinarias, los cachorros deben tener controles de forma ecurrente durante
                            su primer año de vida debido a las vacuna de desparicitacion, rabia, parvovirus, moquillo entre otras.

                            Luego de este primer año, el perro podra llevar una asistencia menos recurrente llevandolo como minimo
                            una vez al año, donde se le volveran a aplicar las vacunas correspondientes.
                        </li>
                        <br>
                        <li>Recuerda que cualquier malestar que sienta tu perro debes conversarlo con el medico veterinario y no con
                            otra persona, ellos son los unicos profesionales capacitados que te podran vindrar la ayuda necesaria. 
                            <a href="https://www.purina-latam.com/mx/purina/nota/perros/consulta-veterinaria-para-mascotas-lo-que-debes-saber" target="_blank">ver detalles</a>
                        </li>
                    </ul>
                    <br>
                    <li style="font-weight: bold;">La higiene de tu perro</li>
                    <br>
                    <ul>
                        <li>La higiene completa de un perro implica hábitos rutinarios de aseo: el baño, el cepillado y atender a la limpieza de los dientes o de los oídos son partes fundamentales del aseo de un perro, que aseguran su salud y la de las personas con las que convive. </li>
                        <br>
                        <li>El baño con agua y jabón completará la higiene del pelaje y piel de nuestro perro. Un perro de ciudad puede necesitar un baño al mes (si tiene el pelo largo ) o uno cada dos o tres meses (si es de pelaje corto).</li>
                        <br>
                        <li>En el mercado existe una amplia variedad de productos adecuados para bañar a su mascota (no sirven los fabricados para personas, ya que el PH de nuestra piel es distinto y pueden dañar al perro). Existen champús para perros con pieles muy sensibles, que tienentendencia a las reacciones alérgicas. También los hay específicos para cada tipo de pelo: corto, largo, rizado, oscuro o claro. Es cuestión de elegir el que mejor se adapte a las características del perro.</li>
                        <br>
                        <li>Una correcta higiene dental es la mejor forma de prevenir el mal aliento en el perro a la vez que evita futuras infecciones y otras dolencias en su boca, como inflamaciones de las encías, dificultades para comer o enfermedades más graves que pueden afectar a órganos como el riñón o el hígado. Una rutina de aseo del perro que incluya al menos dos cepillados de dientes a la semana evitará buena parte de estos posibles problemas.</li>
                        <li>Los oídos del perro deben ser revisados al menos una vez a la semana en caso de los perros de orejas grandes: sus enormes pabellones bloquean la entrada de aire al interior de los conductos auditivos, por lo que dificulta que la suciedad salga arrastrada de forma natural por la corriente.    
                            <a href="https://www.consumer.es/mascotas/la-higiene-del-perro-una-rutina-completa.html" target="_blank">   Ver detalles</a>
                        </li>
                    </ul>
                    <br>
                    <li style="font-weight: bold;">La alimentacion de tu perro</li>
                    <br>
                    <ul>
                        <li>El desarrollo y el crecimiento de los perros se completa el primer año de vida, por lo tanto este periodo es de una importancia vital y marcará su futuro en todos los aspectos; la alimentación es uno de ellos.</li>
                        <br>
                        <li>Es de vital importancia saber que la alimentacion de un perro es sumamente importante, es por esto que 
                            deberias conocer que alimento deberias o no proporcionarle, El perro en su periodo cachorro(primer año de vida) se le debe dar alimenta para cachorro(lo indica el envase), despues el alimento se divide en tres categorias. Alimento para perros de tamaño/raza pequeña, mediana o grande.
                        </li>
                        <br>
                        <li>
                            Para saber qué tipo de alimento proporcionamos a nuestro perro deberemos fijarnos en las etiquetas de los envases. Las etiquetas poseen el análisis garantizado de los niveles mínimos de grasa bruta y los máximos de fibra bruta y humedad.

                            La etiqueta también debe indicar si el alimento es apropiado para todas las etapas de la vida (gestación, lactancia, crecimiento y mantenimiento adulto) o sólo para una etapa concreta. <a href="https://www.fundacion-affinity.org/perros-gatos-y-personas/tengo-un-animal-de-compania/una-alimentacion-adecuada-para-el-cachorro" target="_blank">Ver detalles</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>        
    </div>
    <br>
    <div class="container">
        <img src="{% static 'core/img/linea.png' %}" alt="linea divisora" width="1100px" height="30px">
    </div>
    <br>
    <div class="container" id="educarperro">
        <div id="titulotextoperro2" class="row justify-content-center" style="background-color: #a1ab89;">
            <h1>Educacíon para tu perro</h1>
        </div>
        <div class="row" style="text-align: left;">
            <div id="parrafoperro2" style="border: 10px solid #a1ab89; background-color: #e1e6d4;">
                <p>Educar perros es una tarea sencilla cuando sabes cómo hacerlo y cuando no tratas de apurar las cosas. Sin embargo, educar a un perro te puede parecer una tarea imposible si sigues los consejos incorrectos.</p>
                <ul>
                    <br>
                    <li style="font-weight: bold;">Educar o adiestrar a tu perro</li>
                    <br>
                    <ul>
                        <li>Si has leído algún libro de adiestramiento tradicional posiblemente te has encontrado con la dicotomía entre educar perros y adiestrar perros. Históricamente, en el adiestramiento tradicional se ha separado la educación del cachorro del adiestramiento formal del perro joven y adulto. De acuerdo con esa diferenciación, la educación del cachorro debe ser llevada de forma diferente al adiestramiento del perro adulto.</li>
                    </ul>
                    <br>
                    <li style="font-weight: bold;">Limitar espacios para sus necesidades</li>
                    <br>
                    <ul>
                        <li>
                            Durante la etapa de entrenamiento, invariablemente habrá accidentes y en ocasiones tu cachorro hará sus necesidades donde no debe. Para evitar que los olores a orines y heces lo motiven a orinar este lugar de nuevo, es recomendable aplicar un repelente para perros y, por supuesto, desinfectar bien la zona.
                        </li>
                        <br>
                        <li>
                            Una de las mejores tecnicas para enseñarle a tu perro donde debe hacer sus necesidades es la de delimitar el lugar, al principio pueden ser hojas de diario esparcidas por la casa, luego ir reduciendolas hasta que solo quede una.
                        </li>
                        <br>
                        <li>
                            Recuerda que castigar con golpes no es la solucion para su aprendizaje, todo es paciencia y tolerancia con los tiempos ya que nada es automatico, puede que a algunos les tome un poco mas que a otros, pero al final aprendera.
                        </li>
                    </ul>
                    <br>
                    <li style="font-weight: bold;">Socialización de tu perro</li>
                    <br>
                    <ul>
                        <li>La socialización del perro es un proceso imprescindible en el que el can aprende a relacionarse con todo tipo de personas, animales y entornos. Es un período sensible fundamental para que, en su etapa adulta, el perro tenga un carácter equilibrado y seguro de sí mismo.</li>
                        <br>
                        <li>La socialización es un período sensible que empieza a las tres semanas de vida y que termina alrededor de los tres meses en el que se produce el reconocimiento de especies amigas. Una correcta socialización permite al perro relacionarse con todo tipo de personas, ya hablemos de niños, adultos o ancianos, perros y gatos e incluso adaptarse correctamente a distintos entornos, como la ciudad, la montaña, el metro, etc.</li>
                        <br>
                        <li>La socialización del perro con las personas es fundamental en cualquier entorno. El Dr. Ian Dunbar, veterinario, etólogo y adiestrador, sugiere un cachorro debería conocer, al menos, a 1.000 personas antes de los cien meses, sin embargo, como sabemos que eso no siempre es posible, te animamos a relacionarle con personas de todo tipo, ya hablemos de niños, adultos y ancianos.</li>
                    </ul>
                    
                </ul>
                <a href="#referencias">Referencias...</a>
            </div>

        </div>        
    </div>
    <br>
    <div class="container">
        <img src="{% static 'core/img/linea.png' %}" alt="linea divisora" width="1100px" height="30px">
    </div>
    <br>
    <div class="container" id="atencionperro">
        <div id="titulotextoperro3" class="row justify-content-center" style="background-color: #a1ab89;">
            <h1>Atencion y compañia para tu perro</h1>
        </div>
        <div class="row" style="text-align: left;">
            <div id="parrafoperro3" style="border: 10px solid #a1ab89; background-color: #e1e6d4;">
                <p>Por naturaleza, los perros son criaturas muy sociales es por eso que es importante que le dediques tiempo a tu perro. Los perros, y los cachorros en particular, son muy activos y necesitan una gran cantidad de estímulos mentales y físicos.</p>
                <ul>
                    <br>
                    <li style="font-weight: bold;">Tiempo y dedicación</li>
                    <br>
                    <ul>
                        <li>Ellos necesitan recibir “dosis” regulares de juego o de algún tipo de actividad física para ayudar a evitar el exceso de peso. Los perros que se quedan solos muy a menudo o durante demasiado tiempo pueden llegar a convertirse en seres aburridos o solitarios y empezar a “actuar” (masticar muebles, ladrar incesantemente, excavar, etc.). Debes ser realista acerca del tiempo que le puedes dedicar. ¿Tendrás tiempo para pasear a tu perro? ¿Tendrás tiempo para asistir a clases de entrenamiento de obediencia y para cumplir las citas veterinarias?. Debido a esto es que tienes que dedicarle el timepo y atencion necesarios para que se sienta querido y acompañado.</li>
                    </ul>
                    <br>
                    <li style="font-weight: bold;">Tu casa esta preparada para un perro</li>
                    <br>
                    <ul>
                        <li>Debes preocuparte de tener en casa todos los implementos básicos que necesitaras para que la nueva mascota tenga una vida cómoda</li>
                        <li>Comedero y bebedero: Que no se den vuelta, y que sean fáciles de limpiar, ya que deberas lavarlos diariamente. Prefiere platos chicos al principio para evitar que su cachorro caiga adentro.</li>
                        <li>Cama o canasta: Nuestras mascotas necesitarán un lugar calentito y cómodo para dormir, tanto si viven dentro de la casa o en el patio; además de esta forma tendrán un lugar seguro para descansar y observar a la familia. Existen camas de diversos materiales y tamaños; para escoger la más adecuada, deberas tomar en cuenta, no solo la ubicación que tendrá, sino la raza o tamaño y el grado de actividad que tiene tu cachorro.</li>
                        <li>Esta será el refugio para su cachorro cuando tu estes fuera del hogar. Y debe ser lo suficientemente grande para que pueda pararse, dar la vuelta y echarse, además de tener una adecuada ventilación.</li>
                    </ul>
                    <br>
                    <li style="font-weight: bold;">De viaje con nuestro perro</li>
                    <br>
                    <ul>
                        <li>Si queremos darle la atencion que le corresponde a nuestra mascota es necesario que lo saques a pasear como jugar con el, sabemos que a veces puede ser algo dificil debido al tiempo limitado que tenemos ya sea por el trabajo, estudios, etc. Pero recordemos que los perros requieren casi el mismo cuidado que cualquier niño, es por esto que debemos darnos el espacio de poder hacer diferentes actividades con ellos.</li>
                        <li>Accesorios imprescindibles 
                            Si vas a salir de vacaciones, con tu mascota, toma todas las precauciones necesarias tanto para el viaje como para una estadía lo más agradable posible: Dispon de una jaula de transporte adecuada al tamaño del perro, Cama o manta, Platos para agua y comida, Un saco de su alimento preferido, Correa y el collar y algunos juguetes.</li>
                        <li>No dejes a tu mascota dentro del auto si tienes que bajarte; para ello bajalo con un collar, traílla o un arnés: La Temperatura que puede haber dentro de un auto cerrado, puede producir Stress o incluso la muerte a tu mascota. </li>
                    </ul>
                </ul>
                <a href="#referencias">Referencias...</a>
            </div>

        </div>        
    </div>

    <br>
    <div class="container">
        <img src="{% static 'core/img/linea.png' %}" alt="linea divisora" width="1100px" height="30px">
    </div>
    <br>

    <!--Seccion referencias-->
    <section style="background-color: #a1ab89; text-align: center;" id="referencias">
        <h1>Referencias</h1>
        <hr>
        <a id="referenciaperro1" href="https://www.expertoanimal.com/consejos-para-educar-perros-21112.html" target="_blank" style="color: black;">Expertoanimal.com</a>
        <hr>
        <a id="referenciaperro2" href="https://www.purina-latam.com/guia-de-cuidados-chile" target="_blank" style="color: black;">Purina latam</a>
        <br>
        <br>
    </section>
{% endblock %}