{% extends 'core/base.html' %}

{% load static %}

{% block title %}Agregar productos{% endblock %}

{% block content %}
    
    <!--Encabezado con reloj-->
    <div class="container" style="border-bottom: solid black 3px;">
        <section >
            <div class="row">
                <div class="col" style="background-color: #7c826e;">
                    <div class="col">
                        <div id="clockdate">
                            <div class="clockdate-wrapper">
                                <div id="clock"></div>
                                <div id="date"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="text-align: right;">
                        <button style="border-color: rgb(245, 245, 219) ;" class="btn btn-dark" type="button" onclick="apagarLuzPerro()">Modo Obscuro</button> 
                        <button style="border-color: #343a40; background-color: rgb(245, 245, 219); color: #343a40;" class="btn btn-dark" type="button" onclick="encenderLuzPerro()">Modo Claro</button> 
                    </div>
                        
                </div>
                            
            </div>
        </section>
    </div>

    <!--Formulario para actualizar-->
    <div class="container">
        <div class="row rounded p-5 mt-4 mb-4" style="background-color:#a1ab89;">
            <h1>Actualización datos productos</h1>
        </div>
        <div class="row">
            {% if 'ok' in request.GET %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Oh yeah!!! </strong>Producto registrado satisfactoriamente
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            {% if 'fail' in request.GET %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Ups!!! </strong>En estos momentos no podemos atender a tu solicitud... inténtalo más tarde
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            <!-- Formulario de contacto -->                            
            <form action="" method="POST" id="formulario" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label class="fw-bold">Código Productos de Peluqueria *</label>
                    <div class="input-group">
                        {{form.idProducto_peluqueria}}
                    </div>                
                    {{form.idProducto_peluqueria.errors}}
                </div>
                
                <div class="form-group mb-3">
                    <label class="fw-bold">Descripción *</label>
                    <div class="input-group " >
                        {{form.descripcion}}
                    </div>                
                    {{form.descripcion.errors}}
                </div>
                <div class="form-group mb-3">
                    <label class="fw-bold">Precio Unitario $ *</label>
                    <div class="input-group">
                        {{form.precio}}
                    </div>                
                    {{form.precio.errors}}
                </div>
                <div class="form-group mb-3">
                    <label class="fw-bold">Cantidad *</label>
                    <div class="input-group">
                        {{form.cantidad}}
                    </div>                
                    {{form.cantidad.errors}}
                </div>
                <div class="form-group mb-3">
                    <label class="fw-bold">Imagen</label>
                    {{form.imagen}}
                    {% if form.instance.imagen %}
                        <img class="img-producto-update" src="{{form.instance.imagen.url}}" alt="" width="300px" height="300px">
                    {% endif %}
                </div>
                <div class="form-group mb-3">
                    <label class="fw-bold">Marca *</label>
                    <div class="input-group">
                        {{form.marca}}
                    </div>                
                    {{form.marca.errors}}
                </div>
                <div class="text-center mt-4">
                    <input type="submit" class="btn btn-success btn-block py-2" id="enviar" value="Enviar">
                    <input type="reset" class="btn btn-danger btn-block py-2" id="limpiar" value="Limpiar">
                </div>
            </form>
        </div>
    </div>


{% endblock %}

{% block scripts %}
<script src="{% static 'core/js/my_scripts.js' %}"></script>
{% endblock %}
